@page "/home"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inject NavigationManager NavigationManager
@inject DataContext Context;

<PageTitle>Home</PageTitle>

<div class="hero-image">
    <div class="hero-text">

        <h1>Customized fitness progress tracking</h1>

        <p>
            FitTrack is your ultimate fitness companion, designed to help you monitor your progress and create personalized workout plans tailored to your individual needs and goals.
            With FitTrack, you can take your fitness journey to the next level, track your gym sessions, and achieve your desired results.
        </p>

        <button class="btn btn-primary" @onclick='NavigateToRegister'>Let's get started</button>

        <p id="signIn">
            Already have an account?
            <a href="Account/Login"><br/>Sign in here</a>
        </p>
    </div>
</div>

@code
{
    void NavigateToRegister()
    {
        NavigationManager.NavigateTo("/Account/Register");
    }

    void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/Account/Login");
    }
}
