@page "/Account/Manage"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inject AuthenticationStateProvider AuthenticationState
@inject UserManager<ApplicationUser> UserManager

<div class="row p-3">
    <div class="col-md-6">
        <div class="form-floating mb-3">
            <input type="text" value="@username" class="form-control" placeholder="Please choose your username." disabled />
            <label for="username" class="form-label">Username</label>
        </div>
    </div>
</div>


@code {
    private ApplicationUser user = default!;

    private string? username;


    protected override async Task OnInitializedAsync()
    {
        var authstate = await AuthenticationState.GetAuthenticationStateAsync();
        var user = await UserManager.GetUserAsync(authstate.User);
        
        username = user?.UserName;
    }
}
