@page "/visualize-data"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inject DataContext Context;

@*
    TODO: pagina de vizualizare date cu grafice
*@

<h3>VisualiseData</h3>

@code {

}
